.message-active {
  background-color: rgba(239, 239, 239, 1);
}

.my-message {
  flex-direction: row-reverse;
}

.my-message .my-message__my-avatar {
  display: none;
}

.my-message .my-message__my-content {
  background-color: rgb(226, 226, 226);
}

.my-message .report-message {
  left: -24%;
}

@media (max-width: 767px) {
  .message-active {
    background-color: inherit;
  }
}

.my-message .message__menu-modal {
  left: -8rem;
}